<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>iOS__UICollectionView03_020113.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8EE5E75F1CCDF3470026EE7F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8EE5E7781CCDF3470026EE7F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8EE5E7831CCDF3480026EE7F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
